// Media Query Breakpoints
$desktopMedium: 1300px;
$tabletLandscape: 1024px;
$tabletPortrait: 880px;
$phonePlus: 780px;
$phoneLandscape: 580px;
$phonePortrait: 450px;

// color control

$border-color: #C69C6D;
