// Media Query Breakpoints
$desktopMedium: 1300px;
$tabletLandscape: 1024px;
$tabletPortrait: 880px;
$phonePlus: 780px;
$phoneLandscape: 580px;
<<<<<<< HEAD
$phonePortrait: 450px;
=======
$phonePortrait: 450px;

// color control

$border-color: #C69C6D;
>>>>>>> 344bcc06b151dd7db7b4722a4553c3b9abe4edbc
